<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>questions</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen">
</head>
<body>

	<div id="container"></div>

	<script id="handlebars-template1" type="text/x-handlebars-template">
	<ol>
		{{#each questions}}  	
    		<li class="question" data-id="{{id}}">
      			{{question}}
				<form>
					<ul>
         			{{#each possibleAnswers}}
						<li> <input type="checkbox" class="possibleAnswer"> {{this}} </input> </li>
   				     {{/each}}
					</ul>
      			</form>
    		</li>
		{{/each}}
	</ol>
	</script>

	<script src="js/jquery-1.10.2.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/handlebars.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
